<head>
    <% include ../partials/head %>
        <title>Trips | Local Time</title>
</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <a class="navbar-brand" href="#">
                <strong>Local Times</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-lg-0">
                    <li class="nav-item">
                        <a href="#profile" data-toggle="modal" data-target="#profile">
                            Welcome, <%= (typeof user != "undefined" ? user : "default") %>!
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="profile" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Hello, <%= (typeof user != "undefined" ? user : "default") %>!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <form action="/logout" name="logout" id="logout">
                            <button type="submit" class="btn btn-outline-warning btn-small" for="logout">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="main">


        <div class="row">
            <div class="col-md-12">
                <form action="/planner" method="GET">
                    <button type="submit">
                        Create New Planner
                    </button>
                </form>
            </div>
        </div>

        <div id="view-landing" class="view intro-2" style="">
            <div class="full-bg-img">
                <div class="mask rgba-indigo-light flex-center">
                    <div class="container text-center white-text wow fadeInUp">
                        <h1 class="animated fadeInUp">Current Trips</h1>
                        <p class="animated fadeInUp">Here's what you've got coming up!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <section id="info2">
                <div class="container">
                    <div class="row">

                        <% for(let i = 0; i < plan.length; i++) { %>
                            <div class="col-md-4 col-sm-4">
                                <div class="card">
                                    <!-- Card image -->
                                    <div class="view overlay">
                                        <img class="card-img-top" src="./assets/img/backpack.jpg" alt="Card image cap">
                                        <a href="#!">
                                            <div class="mask rgba-white-slight">
                                                <a href="#!">
                                                    <div class="mask rgba-white-slight" type="button" data-toggle="modal" data-target="#editTripModal<%= plan[i].dataValues.planner.dataValues.planner_id %>"></div>
                                                </a>
                                            </div>
                                        </a>
                                    </div>

                                    <!-- Card content -->
                                    <div class="card-body text-center">

                                        <!-- Title -->
                                        <h4 class="card-title">
                                            <strong>
                                                <%= plan[i].dataValues.planner.dataValues.city %>
                                            </strong>
                                        </h4>
                                        <!-- Subtitle -->
                                        <h5 class="blue-text pb-2">
                                            <strong>
                                                <%= plan[i].dataValues.planner.dataValues.events%>
                                            </strong>
                                        </h5>
                                        <!-- Text -->
                                        <p class="card-text"> 
                                            <%= plan[i].dataValues.planner.dataValues.availableFrom %> - <%= plan[i].dataValues.planner.dataValues.availableTo %>
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <% } %>

                    </div>

                </div>
            </section>


            <!--.................................. MODAL FOR EDIT PLAN ......................... -->
            <% for(let i = 0; i < plan.length; i++) { %>
                <div class="modal fade bd-example-modal-lg" id="editTripModal<%= plan[i].dataValues.planner.dataValues.planner_id %>" tabindex="-1"
                    role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div id="updater" class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">
                                    <%= plan[i].dataValues.planner.dataValues.city %> trip information!</h5>
                            </div>
                            <form class="form-inline" action="/dash" method="PUT">
                                <div class="form-group mb-2">
                                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Location: <%= plan[i].dataValues.planner.dataValues.city %>">
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <input type="text" class="form-control" name="location" placeholder="Location">
                                    <input type="text" id="disabledTextInput" name="planner_id" class="form-control" value="<%= plan[i].dataValues.planner.dataValues.planner_id %>">
                                </div>
                                <button type="submit" class="btn btn-primary mb-2">Confirm update!</button>
                            </form>

                            <form class="form-inline" action="/dash" method="PUT">
                                <div class="form-group mb-2">
                                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Start date: <%= plan[i].dataValues.planner.dataValues.availableFrom %>">
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <input type="text" class="form-control" name="from" placeholder="From">
                                    <input type="text" id="disabledTextInput" name="planner_id" class="form-control" value="<%= plan[i].dataValues.planner.dataValues.planner_id %>">

                                </div>
                                <button type="submit" class="btn btn-primary mb-2">Confirm update!</button>
                            </form>


                            <form class="form-inline" action="/dash" method="PUT">
                                <div class="form-group mb-2">
                                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value=" End date: <%= plan[i].dataValues.planner.dataValues.availableTo %>">
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <input type="text" class="form-control" id="inputPassword2" placeholder="To" name="to">
                                    <input type="text" id="disabledTextInput" name="planner_id" class="form-control" value="<%= plan[i].dataValues.planner.dataValues.planner_id %>">
                                </div>
                                <button type="submit" class="btn btn-primary mb-2">Confirm update!</button>
                            </form>
                        </div>
                    </div>
                </div>
                <% }%>

    </main>

    <% include ../partials/footer %>

</body>

<% include ../view_scripts/req %>
    <% include ../view_scripts/datePick %>